*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  /* clr - color, fs - font size, ff - font family, fw - font weight */

  --clr-p-text-100: hsl(206, 6%, 79%);
  --clr-p-text-200: hsl(270, 7%, 64%);
  --clr-p-text-300: hsl(276, 100%, 81%);
  --clr-p-text-500: hsl(276, 55%, 52%);
  --clr-p-text-700: hsl(271, 15%, 43%);
  --clr-p-text-800: hsl(271, 36%, 24%);

  --clr-p-gradient-400: hsl(293, 100%, 63%);
  --clr-p-gradient-600: hsl(264, 100%, 61%);

  --clr-s-100: hsl(0, 0%, 100%);
  --clr-s-200: hsl(270, 20%, 96%);
  --clr-s-400: hsl(289, 100%, 72%);
  --clr-s-800: hsl(271, 36%, 24%);

  --fs-p: 0.75 rem;
  --fs-h: 1.5rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-s-100);
  position: relative;
  display: flex;
  flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.purple-blob {
  height: 40rem;
  width: 30rem;
  background-color: var(--clr-s-200);
  position: absolute;
  right: -2.5rem;
  bottom: 0;
  border-top-left-radius: 15rem;
  border-top-right-radius: 15rem;
}

.light-grey-blob {
  height: 40rem;
  width: 30rem;
  background: linear-gradient(
    to top,
    var(--clr-p-gradient-600),
    var(--clr-p-text-300)
  );
  position: absolute;
  left: -2.5rem;
  top: 0;
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem;
}
