*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  /* clr - color, fs - font size, ff - font family, fw - font weight */

  --clr-p-text-100: hsl(206, 6%, 79%);
  --clr-p-text-200: hsl(270, 7%, 64%);
  --clr-p-text-300: hsl(276, 100%, 81%);
  --clr-p-text-500: hsl(276, 55%, 52%);
  --clr-p-text-700: hsl(271, 15%, 43%);
  --clr-p-text-800: hsl(271, 36%, 24%);

  --clr-p-gradient-400: hsl(293, 100%, 63%);
  --clr-p-gradient-600: hsl(264, 100%, 61%);

  --clr-s-100: hsl(0, 0%, 100%);
  --clr-s-150: hsl(0, 0%, 98%);
  --clr-s-200: hsl(270, 20%, 96%);
  --clr-s-400: hsl(289, 100%, 72%);
  --clr-s-800: hsl(271, 36%, 24%);
  --clr-s-900: hsl(0, 0%, 0%);

  --fs-primary: 0.5rem;
  --fs-heading: 1rem;
  --fs-medium-heading: 1.5rem;
  --fs-big-heading: 2rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --ff-primary: "Rubik", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-s-150);
  font-family: var(--ff-primary);
  display: flex;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.back-items {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 1;
  overflow-y: auto;
}

.light-grey-blob {
  height: 90%;
  width: 30%;
  background-color: var(--clr-s-200);
  position: fixed;
  right: -10rem;
  bottom: 0;
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
}

.purple-blob {
  height: 90%;
  width: 30%;
  background: linear-gradient(
    to top,
    var(--clr-p-gradient-600),
    var(--clr-p-text-300)
  );
  position: absolute;
  left: -5rem;
  top: 0;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
}

.front-items {
  position: absolute;
  left: 20%;
  top: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  z-index: 2;
}

.phone {
  width: 20rem;
  background-color: var(--clr-s-200);
  border: 1rem solid var(--clr-s-100);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.user-heading {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--clr-p-gradient-600),
    var(--clr-p-text-300)
  );
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2.5rem 1rem 1rem 1rem;
}

.phone-white-blob {
  position: absolute;
  top: -0.1rem;
  height: 25%;
  width: 60%;
  background-color: var(--clr-s-100);
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.user-heading-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.app-icon-three-dots,
.app-icon-back {
  width: 1rem;
  height: 1rem;
}

.app-icon-three-dots {
  margin-left: auto;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.15rem solid var(--clr-s-100);
  border-radius: 2rem;
}

.spans {
  display: flex;
  flex-direction: column;
}

.name-span {
  font-size: var(--fs-heading);
  color: var(--clr-s-100);
}

.status-span {
  font-size: var(--fs-primary);
  color: var(--clr-p-text-100);
}

.texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.me-text {
  align-self: flex-start;
  width: 60%;
  background-color: var(--clr-p-text-100);
  color: var(--clr-p-text-500);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-size: var(--fs-primary);
}

.dog-pictures {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.dog-picture {
  align-self: auto;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
}

.you-text-1 {
  align-self: flex-end;
  width: 65%;
  background-color: var(--clr-s-100);
  margin-right: 0.5rem;

  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 1rem;
  font-size: var(--fs-primary);
}

.you-text-2 {
  align-self: flex-end;
  width: auto;
  background-color: var(--clr-s-100);
  margin-right: 0.5rem;

  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 1rem;
  font-size: var(--fs-primary);
}

.me-purple-text {
  align-self: flex-start;
  background: linear-gradient(
    to left,
    var(--clr-p-gradient-600),
    var(--clr-p-text-300)
  );
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  background-color: var(--clr-p-text-100);
  color: var(--clr-s-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--fs-primary);
}

.app-icon-circle {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  line-height: 4;
}

.walk-time-span {
  margin-right: 2.5rem;
}

.price-span {
  font-size: var(--fs-heading);
}

.message-typing-box {
  width: 92.5%;
  background-color: var(--clr-s-100);
  align-self: center;
  margin: 1rem 0 0.75rem 0;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border-radius: 5rem;
}

.message-typing-box input {
  border: none;
  flex-grow: 1;
  font-size: var(--fs-primary);
}

.message-typing-box-send-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-s-900);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: auto;
}

.message-typing-box img {
  width: 1.25rem;
  height: 1.25rem;
}

.paragraph {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.heading {
  font-family: "Rubik", sans-serif;
  font-weight: var(--fw-bold);
  font-size: var(--fs-big-heading);
}

.content {
  font-family: "Rubik", sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--fs-heading);
  line-height: 1.5;
  color: var(--clr-p-text-200);
}

@media (max-width: 800px) {
  .front-items {
    flex-direction: column;
  }

  .front-items {
    margin-top: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .light-grey-blob {
    height: 55%;
    width: 60%;
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
  }

  .purple-blob {
    height: 55%;
    width: 60%;
    border-bottom-left-radius: 15rem;
    border-bottom-right-radius: 15rem;
  }

  .paragraph {
    align-items: center;
    margin-bottom: 2.5rem;
  }

  .content {
    text-align: center;
  }

  .front-items {
    gap: 5rem;
  }
}
